# Cloudflare
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

# OpenAI
OPENAI_API_KEY=

# Tavily API
TAVILY_API_KEY=
TAVILY_MCP_URL=

# Convex
CONVEX_CLOUD_URL=
CONVEX_HTTP_ACTIONS_URL=
# Recorder
RECORDER_SERVICE_TOKEN=
RECORDER_URL=
